.calculator__display {
    background-color: var(--grey-900);
    color: var(--grey-050);
    width: 16.25rem;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc(1rem * 1.2 * 1.2);
}